@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0,-25&icon_names=dark_mode,light_mode,open_in_new");

:root {
    --col-bg: #f4f0e8;
    --col-bg-2: #dedad2;
    --col-fg: #111111;
    --col-accent-1: #008080;
    --col-accent-2: #03c4c4;
    --blue-dark: #26A;
    --blue-light: #4DE;
    --red-dark: #A23;
}

body {
    background-color: var(--col-bg);
    color: var(--col-fg);
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.shadow {
    box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 2.25em;
    margin: 0px;
    text-align: center;
    position: relative;
    transition: color 0.3s, transform 0.3s;
    color: var(--col-accent-1) !important;
    cursor: pointer;
}
h1:hover {
    transform: scale(1.05);
    color: var(--col-accent-2) !important;
}
h1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 3px;
    background-color: var(--col-accent-1);
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: left;
}
h1:hover::after {
    transform: scaleX(1);
}

h2 {
    font-size: 1.75em;
    margin: 16px 8px 8px 0px;
}
h3 {
    font-size: 1.5em;
    margin: 12px 6px 6px 0px;
}
h4 {
    font-size: 1.25em;
    margin: 8px 4px 4px 0px;
}
h5 {
    font-size: 1.17em;
    margin: 6px 4px 4px 0px;
}
h6 {
    font-size: 1em;
    margin: 4px 4px 4px 0px;
}
p {
    font-size: 1em;
    margin: 2px 2px 2px 0px;
}
a {
    color: var(--blue-dark);
    text-decoration: none;
}
a:hover {
    color: var(--blue-light);
    cursor: pointer;
}
a:visited {
    font-style: italic;
}
a.broken-link {
    color: var(--red-dark);
    text-decoration: underline wavy var(--red-dark);
  }
  
code {
    font-family: Roboto-Mono, monospace;
    white-space: pre;
}

li {
    margin-left: 16px;
    list-style-type: disc;
}

table {
    table-layout: fixed;
    text-align: center;
    border-collapse: collapse;
}
th {
    border: 1px solid var(--col-fg);
    background-color: var(--col-bg-2);
}
td {
    border: 1px solid var(--col-fg);
}

.container { 
    display: grid; 
    grid-template-columns: 250px 1fr; 
    grid-template-rows: 120px 1fr; 
    height: 100vh; 
}

.error-container {
    align-items: center;
    display: grid;
    text-align: center;
}

.topbar { 
    background-color: var(--col-bg-2); 
    padding: 16px; 
    position: sticky;
    display: grid;
    justify-content: space-evenly;
    border: 0px;
    border-bottom: 8px;
    border-style: ridge;
    border-color: var(--col-accent-1);
}
.topbar-selector {
    display: flex;
}
.topbar-selector-item {
    margin-right: 32px;
    list-style-type: none;
    padding: 4px;
}
.topbar-selector-item-link {
    color: var(--color-bg) !important;
}
.topbar-selector-item:hover {
    box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.2) inset;
}
.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: fit-content;
}
.navbar-selector {
    display: flex;
    justify-content: center;
}
.navbar-selector-item {
    margin: 12px;
    list-style-type: none;
    padding: 4px;
}
.navbar-selected-post {
    font-weight: bold;
}
.footer {
    position: fixed; 
    bottom:0;
    right:1vw;
}

.avatar-image {
    width: 95%;
    padding: 2.5%;
}
.flag-image {
    width: 95%;
    padding: 2.5%;
}

.material-symbols-outlined {
    font-size: 0.75em;
    color: var(--col-fg);
}

.mode-change-button {
    padding: 0;
    border: none;
    background: none;
}

.home-page-quicklinks {
    list-style-type: disclosure-closed
}

.gallery {
    max-width: 800px;
    margin: auto;
    display: grid;
    gap: 20px;
}
.gallery-wrapper {
    position: relative;
    overflow: hidden;
    align-items: baseline;
}
.gallery-wrapper img {
    display: block;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.gallery-wrapper p {
    margin: auto;
    width: 50%;
    text-wrap: nowrap;
    text-wrap: pretty;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;
    border: 4px solid var(--col-bg);
    border-top: 4px solid var(--col-accent-1);
    border-radius: 50%;
    animation: spin 1s linear infinite;
    z-index: 1;
}
.spinner-container {
    padding: 50px;
}
.end-of-internet {
    padding-top: 1000vh;
    align-items: center;
    text-align: center;
}

@media (orientation: landscape)  {
    table {
        width: 15vw;
    }

    .topbar { 
        background-color: var(--col-bg-2); 
        padding: 16px; 
        position: sticky;
        display: grid;
        justify-content: space-evenly;
    }
    .topbar-selector {
        display: flex;
        padding-left: 0px;
    }
    .topbar-selector-item {
        margin-right: 32px;
        list-style-type: none;
        color: var(--color-bg);
        padding: 4px;
    }

    .content { 
        padding: 16px;
        padding-left: 15vw;
        padding-right: 15vw;
    }

    .split-container {
        display: flex;
    }
    .split-container > :first-child {
        width: auto;
        margin-right: 16px;
    }
}
@media (orientation: portrait) {
    table {
        margin-left: 5vw;
        margin-right: 3vw;
    }

    .topbar-selector {
        display: block;
    }
    .topbar-selector-item {
        margin-right: 32px;
        list-style-type: disclosure-closed;
        padding: 4px;
    }

    .content { 
        padding: 16px;
        padding-left: 2vw;
        padding-right: 5vw;
    }

    .split-container > :first-child {
        margin-bottom: 16px;
    }
}